@inject SignInManager<IdentityUser> SignInManager

<a asp-controller="Home" asp-action="Index" id="logo">
    <img src="~/img/pxl.png"/>
</a>

@* You need to be signed in to see any info *@
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <span>Gebruiker</span>
        <div class="dropdown-content">
        @if (User.IsInRole("Admin"))
        {
            <a class="dropdown-item" asp-controller="Gebruiker" asp-action="Index">Gebruiker</a>
            <hr>
        }
        <a class="dropdown-item" asp-controller="Student" asp-action="Index">Student</a>
        <a class="dropdown-item" asp-controller="Lector" asp-action="Index">Lector</a>
        </div>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <span>Inschrijving</span>
        <div class="dropdown-content">
            <a class="dropdown-item" asp-controller="Inschrijving" asp-action="Index">Inschrijving</a>
            @if (User.IsInRole("Admin") || User.IsInRole("Lector"))
            {
                <hr>
                <a class="dropdown-item" asp-controller="Academiejaar" asp-action="Index">Academiejaar</a>
                <a class="dropdown-item" asp-controller="Handboek" asp-action="Index">Handboek</a>
                <a class="dropdown-item" asp-controller="Vak" asp-action="Index">Vak</a>
            }
        </div>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <span>VakLector</span>
        <div class="dropdown-content">
            <a class="dropdown-item" class="dropdown-item" asp-controller="VakLector" asp-action="Index">VakLector</a>
        </div>
    </div>
}

<form asp-controller="Inschrijving" asp-action="Search" class="btn-group" id="searchBar">
    <input class="form-control" type="search" placeholder="Overzicht Studenten" name="search">
    <button class="btn btn-outline-primary" type="submit">Zoeken</button>
</form>