<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HogeschoolPXL.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="img/pxl.png" class="mx-2" id="PXLLogo" />
        </a>

        <div class="dropdown">
            <button>Gebruiker</button>
            <div class="dropdown-content">
                <a asp-controller="Gebruiker" asp-action="Index">Gebruiker</a>
                <hr class="dropdown-divider">
                <a asp-controller="Student" asp-action="Index">Student</a>
                <a asp-controller="Lector" asp-action="Index">Lector</a>
            </div>
        </div>

        @*<nav class="navbar navbar-expand-lg mb-4">
            
            <ul>
                <li class="nav-item dropdown">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        Gebruikers
                    </button>
                    <ul class="dropdown-menu">
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        Inschrijvingen
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Inschrijving" asp-action="Index">Inschrijving</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="AcademieJaar" asp-action="Index">AcademieJaar</a></li>
                        <li><a class="dropdown-item" asp-controller="Handboek" asp-action="Index">Handboek</a></li>
                        <li><a class="dropdown-item" asp-controller="Vak" asp-action="Index">Vak</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        Vak lector
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="VakLector" asp-action="Index">VakLector</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Zoeken" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Zoeken</button>
            </form>
        </nav>*@
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            HogeschoolPXL
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
