@model HogeschoolPXL.Models.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registreer";
}

<h1 class="titleView">Registreer</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <a class="btn btn-outline-secondary btn-sm backArrow" asp-action="Index" asp-controller="Home">
                    <img src="~/img/arrow-left.svg" />
                    <span class="backButton">Home</span>
                </a>
                <input type="submit" value="Registreer" class="btn btn-outline-success btn-sm viewButton" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
