<h1 class="titleView" id="manageUserRoles">Beheer Gebruikers en Rollen</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="RoleRequestRepeatPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rollen</label>
                <select class="form-control" asp-items="ViewBag.Roles" name="roleId"></select>
            </div>
            <div class="form-group d-flex justify-content-between">
                <a class="btn-sm backArrow" href="javascript:history.back()">
                    <img src="~/img/arrow-left-black.png" height="16" />
                    <span>Terug</span>
                </a>
                <div class="btn-group">
                    <input type="submit" value="Stuur Rolverzoek" class="btn btn-outline-success btn-sm viewButton" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    // De selectLists op deze pagina heeft een attribute die "multiple" noemt, dit verwijdert het
    var selectElements = document.querySelectorAll(".form-control");
    for (var i = 0; i < selectElements.length; i++) {
        selectElements[i].removeAttribute("multiple");
    }
</script>


@* Alert after a successfull request *@
@if (ViewBag.Alert == "Success")
{
	<div id="snackbar">
		<div class="toast-header">
			<img src="~/img/green-check.png" height="16" class="me-2">
			<strong class="me-auto">Succesfull</strong>
		</div>
		<div class="toast-body">
			Succesfully Requested a Role
		</div>
	</div>
}