@page
@model HogeschoolPXL.Views.Portfolio.IndexModel
@{
    Layout = "_Layout";
}

<div id="portfolio">
    <h1>Projectbeschrijving</h1>
    <p>
        In dit project heb ik een website gemaakt met de MVC (Model-View-Controller)-architectuur. De website stelt gebruikers in staat om informatie te bekijken en te verzenden over gebruikers (leerkrachten, studenten) en inschrijvingen (vakken, handboeken, etc..). Ook kan je inloggen als een gebruiker en een rol toegekend krijgen door een admin. Admins hebben hiervoor een speciaal scherm met allerlei functies en een overzicht.
    </p>
    <br />
    <hr />
    <br />

    <h1>Projectdoelen</h1>
    <ul>
        <li>Geleerd hoe je de MVC-architectuur kunt gebruiken in webontwikkeling</li>
        <li>Ontwerpen van een gebruiksvriendelijke interface voor de website</li>
        <li>Implementeren van functies zoals gebruikersregistratie en authenticatie</li>
    </ul>
    <br />
    <hr />
    <br />

    <h1>Gebruikte Programmeertalen</h1>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>C#</li>
        <li>JavaScript</li>
    </ul>
    <br />
    <hr />
    <br />

    <h1>Conclusie</h1>
    <p>
        Dit project was een geweldige kans om te leren over de MVC-architectuur en hoe je een dynamische website kunt maken. Ik vond het leuk om de verschillende functies van de site te ontwerpen en te implementeren, en ik ben zeer trots op het eindproduct.
    </p>
    <br />

</div>