@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@* Dynamic Toast after login attempt *@
@if (ViewBag.LoginTitle != null)
{
    <div id="snackbar">
        <div class="toast-header">
            <img src="@ViewBag.LoginImg" height="16" class="me-2">
            <strong class="me-auto">@ViewBag.LoginTitle</strong>
        </div>
        <div class="toast-body">
            @ViewBag.LoginMessage
        </div>
    </div>
}