@model HogeschoolPXL.Models.VakLector

@{
    ViewData["Title"] = "Edit";
}

<h1 class="titleView">Edit VakLector</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VakLectorId"/>
            <div class="form-group">
                <label asp-for="LectorId" class="control-label"></label>
                <select asp-for="LectorId" class="form-control" asp-items="ViewBag.LectorId"></select>
                <span asp-validation-for="LectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VakId" class="control-label"></label>
                <select asp-for="VakId" class="form-control" asp-items="ViewBag.VakId"></select>
                <span asp-validation-for="VakId" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <a class="btn-sm backArrow" href="javascript:history.back()">
                    <img src="~/img/arrow-left-black.png" height="16"/>
                    <span >Terug</span>
                </a>
                <input type="submit" value="Update VakLector" class="btn btn-outline-success btn-sm viewButton"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
