@model HogeschoolPXL.Models.Inschrijving

@{
    ViewData["Title"] = "Create";
}

<h1 class="titleView">Create Inschrijving</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VakLectorId" class="control-label"></label>
                <select asp-for="VakLectorId" class ="form-control" asp-items="ViewBag.VakLectorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AcademiejaarId" class="control-label"></label>
                <select asp-for="AcademiejaarId" class ="form-control" asp-items="ViewBag.AcademiejaarId"></select>
            </div>

            <div class="form-group d-flex justify-content-between">
                <a class="btn-sm backArrow" asp-action="Index" asp-controller="Inschrijving">
                    <img src="~/img/arrow-left-black.png" height="16"/>
                    <span >Back</span>
                </a>
                <input type="submit" value="Create Inschrijving" class="btn btn-outline-success btn-sm viewButton"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
