html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* Header en Footer */
header {
    padding: 12px 40px;
    gap: 20px;

    /* Align items in a Row */
    display: flex;
    flex-direction: row;
    align-items: center;
}
header, footer {
    box-shadow: 0 0 20px lightgrey;
    background-color: #f4f4f4;
}
footer #footerText {
    font-size: 18px;
    margin-left: 25px;
}

/* Container & Main Content */
.container {
    margin: 25px auto;
    max-width: 65rem;
}
.viewButton {
    margin: 6px 0;
    height: fit-content;
    border-radius: 50px;
    box-shadow: 0 0 8px lightgrey;
}
.backArrow /* Arrow */{
    height: fit-content;
    margin: 6px 0;

    border-radius: 50px;
    box-shadow: 0 0 8px lightgrey;
}
.backButton {
    padding: 0 3px;
}
.backArrow img {
    vertical-align: sub;
}

/* Navigation Menu View Component */
#categories a {
    width: 100%;
    margin: 2px 0;
    border-radius: 10px;
}
#categories a:hover {
    background-color: #efefef;
}
#categories a:last-child /* Clear Button */ {
    margin: 5px 0 -5px 0;
    display: block;

    background-color: transparent !important;
    border: 0 solid transparent !important;
}
#categories th {
    text-align: center;
}
#categories tr td:last-child {
    text-align: center;
    margin-top: 4px;
}
#categories tr td a:last-child {
    text-decoration: none;
}
.active /* .active Class for active components */ {
    border: 1px solid #adadad !important;
    background-color: #ececec !important;
}

/* View Pages Title */
.titleView {
    margin: auto;
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid lightgrey;
}

/* Table */
table {
    padding: 2px 10px;
    border-collapse: separate;
    border-radius: 8px;

    background-color: #fafafa;
    box-shadow: 0 0 20px lightgrey;
}
tr {
    margin-bottom: 5px;
}
tr td:last-child {
    text-align: end;
}
tr:last-child {
    border-bottom: #fafafa;
}
.form-group {
    margin-bottom: 5px;
}
.form-group label {
    margin-left: 5px;
    margin-bottom: 2px;
}
.row dd {
    text-align: right;
}

/* Logo Navigation Bar */
#logo {
    box-shadow: 0 0 16px grey;
    border-radius: 50%;
}
#logo img {
    height: 40px;
    width: 40px;
}

/* Navigation Bar */
.dropdown /* Dropdown */ {
    position: relative;
    display: inline-block;
}
.dropdown:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}
.dropdown-content {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.1s linear;
    position: absolute;
    z-index: 1;

    background-color: #fcfcfc;
    min-width: 160px;
    border-radius: 6px;
    padding: 12px 16px;
    box-shadow: 0 0 20px lightgrey;
}
.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}
.dropdown-item:focus {
    background-color: grey;
}
.dropdown-item:hover {
    transition: ease 0.1s;
    background-color: #f1f1f1;
    border-radius: 6px;
}
.dropdown-item:active {
    background-color: #e4e4e4;
    color: black;
}
.dropdown span {
    font-size: 18px;
}
header form /* Search Bar */ {
    display: flex;
    margin-left: auto;
}
header form * {
    box-shadow: 0 0 12px lightgrey;
    border-radius: 50px !important;
}

/* Media */
@media (max-width: 780px) {
    header form {
        display: none;
    }
}
