html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* Header en Footer */
header {
    padding: 12px 40px;
    gap: 20px;

    /* Align items in a Row */
    display: flex;
    flex-direction: row;
    align-items: center;
}
header, footer {
    box-shadow: 0 0 20px lightgrey;
    background-color: #f4f4f4;
}
footer #footerText {
    font-size: 18px;
    margin-left: 25px;
}

/* Container */
.container {
    margin: 25px auto;
}
.createButton {
    margin: 6px 0;
    border-radius: 50px;
    box-shadow: 0 0 8px lightgrey;
}
.createButtonParent {
    text-align: center;
    justify-content: center;
    display: flex;
}
.createButtonParent a {
    text-align: center;
    border-radius: 50px;
}
.createButtonParent a {
    height: 26px;
}
.arrow-left {
    display: flex;
    width: fit-content;
    margin: 6px 6px;
    padding: 4px;

    border-radius: 50px;
    box-shadow: 0 0 8px lightgrey;
}

/* Logo */
#logo {
    box-shadow: 0 0 16px grey;
    border-radius: 50%;
}
#logo img {
    height: 40px;
    width: 40px;
}

/* Navbar */
.dropdown:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}
nav .dropdown /* Dropdown */ {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;

    border-radius: 6px;
    box-shadow: 0 0 20px lightgrey;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-item:focus {
    background-color: grey;
}
.dropdown-item:hover {
    background-color: #f1f1f1;
    border-radius: 6px;
}
.dropdown-item:active {
    background-color: #e4e4e4;
    color: black;
}
.dropdown span {
    font-size: 18px;
}
header form /* Form */ {
    display: flex;
    margin-left: auto;
}
header form * {
    box-shadow: 0 0 12px lightgrey;
    border-radius: 50px !important;
}

/* Media */
@media (max-width: 780px) {
    header form {
        display: none;
    }
}
