@model HogeschoolPXL.Models.ViewModels.StudentCardViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="titleView">Details Student</h1>

<student-card student-card-view-model="@Model"></student-card>

@if (Model.Inschrijving != null)
{
    <div class="form-group d-flex @(User.IsInRole("Admin") ? "justify-content-between" : "justify-content-center")">
        <a class="btn-sm backArrow mx-1" asp-action="Index" asp-controller="Student">
            <img src="~/img/arrow-left-black.png" height="16"/>
            <span >Terug</span>
        </a>
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Inschrijving.Student.StudentId" class="btn btn-outline-success btn-sm viewButton mx-1">Edit Student</a>
        }
    </div>
}
