@model HogeschoolPXL.Models.Academiejaar

@{
    ViewData["Title"] = "Creëer";
}

<h1 class="titleView">Creëer Academiejaar</h1>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control"/>
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-between">
                <a class="btn btn-sm backArrow" asp-action="Index" asp-controller="Academiejaar">
                    <img src="~/img/arrow-left-black.png" height="16"/>
                    <span >Terug</span>
                </a>
                <input type="submit" value="Creëer Academiejaar" class="btn btn-outline-success btn-sm viewButton"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
