@model HogeschoolPXL.Models.Academiejaar

@{
    ViewData["Title"] = "Details";
}

<h1 class="titleView">Details Academiejaar</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Datum)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Datum)
            </dd>
        </dl>

        <div class="form-group d-flex justify-content-between">
            <a class="btn btn-outline-secondary btn-sm backArrow" asp-action="Index" asp-controller="Academiejaar">
                <img src="~/img/arrow-left.svg" />
                <span class="backButton">Terug</span>
            </a>
            <a asp-action="Edit" asp-route-id="@Model?.AcademiejaarId" class="btn btn-outline-success btn-sm viewButton">Edit Academiejaar</a>
        </div>
    </div>
</div>
